#container {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items:center;
	height:100%;
}

.video {
	display: flex;
	align-items:center;
	justify-content:center;
	padding:5px;
	text-align:center;
    flex-direction: column;
    width: min-content;
}

.caption {
	overflow-wrap: break-word;
}

.video img {
	max-width: 100%;
	min-width: 240px;
}

html,body {
	height:100%;
	margin:0;
}

body {
	color:#FFFFFF;
	background-color:#212121;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
}

a {
	text-decoration:none;
	color: inherit;
}