#container {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items:center;
	height:100%;
}
.video {
	width:25%;
	height:40%;
	display:inline;
	align-items:center;
	justify-content:center;
	padding:5px;
	text-align:center;
	
}
.video img {
	max-width:100%;
	max-height:100%;
	height: auto;
	width: auto;
}
html,body {
	height:100%;
	margin:0;
}

body {
	color:#FFFFFF;
	background-color:#212121;
	
}